{% extends '::base.html.twig' %}
{% block titulo %}Lista de formatos{% endblock%}
{% block body %}
<div class="row">
    <div class="col s6 offset-s3"> 
        <ul class="collapsible" data-collapsible="accordion">   <li>
            <div class="collapsible-header"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar formato</div>
            <div class="collapsible-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="input-field col s8">
                        {{ form_row(form.formato,{'label':'Agregar formato'}) }}
                    </div>
                    <div class="col s4">
                    <br>
                        {{ form_widget(form.guardar,{'attr':{'class':'btn b'},'label':'Agregar'}) }}
                        
                    </div>
                </div>
            {{form_end(form) }}
            </div>
            </li>
        </ul>
    </div>
    <div class="col s6 offset-s3">
        <div class="card-panel white" id="contenedor">
            
        </div>
    </div>
   
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function (){
    $('#contenedor').load("{{ path('cargando') }}");
        
        $('#contenedor').load("{{ path('get_formato') }}",function(){$('#tabla').DataTable();} )
    });
</script>
{% endblock %}