{% extends '::base.html.twig' %}
{% block titulo %}Lista de departamentos{% endblock %}
{% block body %}
<div class="row">
    <div class="col s6 offset-s3">
    
        <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar departamento</div>
              <div class="collapsible-body">{{ form_start(form) }}

                <div class="row">
                    <div class="input-field col s8">
                        {{ form_row(form.departamento) }}
                    </div>
                    <div class= "col s4">
                        <br>
                        {{ form_widget(form.guardar,{'attr':{'class':'btn-large'},'label':'Agregar'}) }}
                    </div>
                </div>
                {{ form_end(form) }}</div>
            </li>
      </ul>
    </div>
    <div class="col s6 offset-s3">
        <div class="card-panel white">
            <table class="striped display" id="tabla" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Departamento</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                {% for d in departamentos %}
                 <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.departamento }}</td>
                    <td>
<a href="{{ path('del_departamento',{'id': d.id }) }}" class="waves-effect btn red darken-4"><i class="fa fa-trash" aria-hidden="true"></i></a>
<a href="{{ path('up_departamento',{'id': d.id }) }}" class="btn "><i class="fa fa-wrench" aria-hidden="true"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
    
</div>
{% endblock %}
{% block javascripts %}
{% endblock %}